extends layout

block content 
  .gallery
    <canvas id="renderCanvas" touch-action="none"></canvas>
  <script defer src="https://cdn.jsdelivr.net/gh/believeinlain/planetgen-js@0.1.3/dist/planetgen.js"></script>

block footer 
  p 
    | Applet by Stephanie Aelmore. Source available 
    | <a href="https://github.com/believeinlain/planetgen-js">
    | here</a> under the MIT license.