* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  color: #ccc;
  z-index: 0;
}
:root {
  --header-height: 90px;
  background-image: url('/images/home_bkg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
body {
  background-color: rgba(17, 17, 17, 0.9);
  height: 100%;
  margin: 0;
}
.content {
  max-width: 800px;
  margin: auto;
  padding: 10px;
  padding-top: var(--header-height);
}
.caption {
  position: relative;
  z-index: 3;
  text-align: center;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:rgba(34, 34, 34, 0.8);
  display: inline-block;
  padding: 5px;
}
.no_caption {
  display: none;
}
h1 {
  font-size: 30px;
  text-align: center;
}
a:link {
  text-decoration: none;
  background-color: initial;
  color: rgb(102, 213, 228);
}
a:visited {
  text-decoration: none;
  color: rgb(102, 130, 206);
}
a:hover {
  text-decoration: underline;
  color: rgb(176, 224, 224);
}
a:active {
  text-decoration: underline;
}


.japanese {
  font-size: large;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.emoji {
  font-family: "apple color emoji, segoe ui emoji, noto color emoji, android emoji, emojisymbols, emojione mozilla, twemoji mozilla, segoe ui symbol";
}

.header, .footer {
  margin: 0;
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.8);
  color: #ccc;
  z-index: 2;
  /* white-space: nowrap; */
  line-height: 0px;
  padding: 10px;
}
.header, .footer, .gallery a {
  opacity: 0.8;
}

.header {
  top: 0;
  text-align: center;
  height: var(--header-height);
  display: grid;
  line-height: 0;
}
.navbar {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin: auto;
}
.navbar a {
  display: block;
  float: left;
  width: fit-content;
  height: fit-content;
  padding: 15px;
  margin: 2px;
}
.navbar a, .gallery a {
  border: 1px solid #222;
  background-color: rgba(34, 34, 34, 0.8);
  text-decoration: none;
}
.navbar a:link, .gallery a:link {
  border-color: #222;
  color: #eee;
}
.navbar a:visited, .gallery a:visited {
  color: #ddd;
}
.navbar a:hover, .gallery a:hover {
  color: #fff;
  border-color: #fff;
}

.gallery {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  align-content: center;
  opacity: 1;
}
.gallery img {
  /* Position image centered */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  /* Fill the whole division */
  max-width: 100%;
  max-height: 100%;
}
.gallery a {
  position: relative;
  top: var(--header-height);
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
  display: inline-block;
  align-self: center;
  padding: 5px;
}
#renderCanvas {
  width: 100%;
  height: 100%;
  touch-action: none;
  top: 0;
  bottom: 0;
}

.footer {
  bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  height: fit-content;
}
