:root {
    --header-height: 100px;
    background-image: url(images/home_bkg.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
    color: #ccc
}

/* Element defaults */

a:link,
a:visited {
    text-decoration: none
}

a:hover,
a:active {
    text-decoration: underline
}

a:hover {
    color: #b0e0e0
}

a:link {
    color: #66d5e4
}

a:visited {
    color: #6682ce
}

/* Content */

.content {
    background-color: rgba(17, 17, 17, 0.8);
    max-width: 800px;
    margin: auto;
    padding: 2%;
    padding-top: calc(var(--header-height) - 10px);
}

/* Header and Footer */

.lock {
    text-decoration: none;
    align-self: center;
}

.header,
.footer {
    box-sizing: border-box;
    margin: 0;
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba(17, 17, 17, 0.8);
    line-height: 0;
    padding: 10px;
    opacity: 0.8;
    z-index: 2;
}

.footer {
    min-height: 30px;
    bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
}

.header {
    top: 0;
    text-align: center;
    display: grid;
    height: var(--header-height);
}

/* Navbar */

.navbar {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: auto;
}

.navbar a {
    display: block;
    float: left;
    width: fit-content;
    height: fit-content;
    padding: 15px;
    margin: 2px;
    border: 1px solid #222;
    background-color: rgba(34, 34, 34, 0.8);
    text-decoration: none;
}

.navbar a:link {
    border-color: #888;
    color: #eee;
}

.navbar a:visited {
    border-color: #555;
    color: #ddd;
}

.navbar a:hover {
    color: #fff;
    border-color: #fff;
    text-decoration: none;
}

/* Gallery */

.gallery {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    z-index: 0;
}

.gallery img {
    /* Position image centered */
    position: absolute;
    margin: auto;
    /* Fill the whole division */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
}

.nav {
    top: var(--header-height);
    display: inline-flex;
    height: fit-content;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 3;
}

.gallery a {
    top: var(--header-height);
    height: fit-content;
    width: 50%;
    display: inline-block;
    text-align: center;
    border: 1px solid #222;
    padding: 5px;
    background-color: rgba(34, 34, 34, 0.8);
}

.gallery a:link,
.gallery a:visited {
    border-color: #555;
    color: #ddd;
}

.gallery a:hover {
    color: #fff;
    border-color: #fff;
    text-decoration: none;
}